# -----------------------------------------------------------------------------
# General / Miscellaneous
# -----------------------------------------------------------------------------
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/
Thumbs.db
*.tmp

# -----------------------------------------------------------------------------
# IDEs (Android Studio, IntelliJ, VS Code)
# -----------------------------------------------------------------------------
# Android Studio / IntelliJ
*.iml
*.ipr
*.iws
.idea/
*.iws

# VS Code
.vscode/
.history/

# -----------------------------------------------------------------------------
# Flutter / Dart / Pub
# -----------------------------------------------------------------------------
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/coverage/
.packages
.pub-env

# Symbolication & Obfuscation
app.*.symbols
app.*.map.json

# -----------------------------------------------------------------------------
# Android Specific
# -----------------------------------------------------------------------------
# This file contains the path to the Android SDK - MUST be ignored
/android/local.properties
/android/.gradle/
/android/app/debug
/android/app/profile
/android/app/release
/android/captures/
*.keystore
*.jks

# -----------------------------------------------------------------------------
# iOS / macOS Specific
# -----------------------------------------------------------------------------
# CocoaPods
ios/Pods/
ios/.symlinks/
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec

# Xcode
*.xcworkspace
*.xcuserdata
DerivedData/
*.moved-aside

# -----------------------------------------------------------------------------
# Secrets & Environment Variables
# -----------------------------------------------------------------------------
# Ignore any .env files containing API keys or secrets
.env
.env.*
